################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Scz/Scz.ConsoleApp
/Scz/Scz.Core/obj
/Scz/Scz.DataStructure
/Scz/Scz.Domain
/Scz/Scz.EntityFrameworkCore
/Scz/Scz.EventBus
/Scz/Scz.Ioc
/Scz/Scz.WebApi
/Scz/Scz.Autofac
/Scz/Scz.Application
/Scz/Scz.Aop
/Scz/Scz.MyConsoleApp
/Scz/Scz.MigrationsDemo
/Scz/Scz.Common
/Scz/Scz.AutoMapper
/Scz/Scz.MyWeb/Scz.AspNetWeb.csproj.user
/Scz/Scz.MyWeb/obj/Debug
/Scz/Scz.MyWeb/bin
/Scz/.vs/Scz
/Scz/Scz.RazorWeb
/Scz/Scz.RabbitMq
/Scz/Scz.Orm
/Scz/Scz.Test
/Scz/Scz.Redis
/Scz/Scz.Web/obj
/Scz/Scz.Web/bin/Debug/netcoreapp2.2
/trunk/Scz/Scz.WebApi
/Scz/Scz.AspNetWeb
/Scz/Scz.MvcWeb
/Scz/Scz.Algorithm/obj
/Scz/Scz.Cache/obj
/Scz/Scz.Config/obj
/Scz/Scz.Database/obj/Debug
*.user
/Scz/Scz.GrpcService/obj/Debug/netcoreapp3.0
/Scz/Scz.UnitTestProject/obj
/Scz/Scz.WcfService/obj/Debug
/Scz/Scz.XUnitTestProject/obj
/Scz/Scz.BlazorApp/obj/Debug/netcoreapp3.0
/Scz/Scz.BlazorApp/obj
/Scz/Scz.GrpcService/obj
/Scz/Scz.WorkerService/obj
/Scz/Scz.Database/Scz.Database.dbmdl
/Scz/Scz.Database/Scz.Database.jfm
/Scz/Scz.XUnitTestProject/bin/Debug/netcoreapp3.0
/Scz/Scz.WorkerService/bin/Debug/netcoreapp3.0
/Scz/Scz.WcfService/bin
/Scz/Scz.UnitTestProject/bin/Debug/netcoreapp3.0
/Scz/Scz.GrpcService/bin/Debug/netcoreapp3.0
/Scz/Scz.Database/bin/Debug
/Scz/Scz.Config/bin/Debug/netcoreapp3.0
/Scz/Scz.Cache/bin/Debug/netcoreapp3.0
/Scz/Scz.BlazorApp/bin/Debug/netcoreapp3.0
/Scz/Scz.Algorithm/bin/Debug/netcoreapp3.0
/Scz/Scz.Log/bin/Debug/netcoreapp2.2
/Scz/Scz.Log/obj
/Scz/packages/Microsoft.Exchange.WebServices.2.2
/Scz/Scz.Model/bin/Debug/netstandard2.1
/Scz/Scz.Model/obj
/Scz/Scz.IBll/bin/Debug/netstandard2.0
/Scz/Scz.IBll/obj
/Scz/Scz.Bll/bin/Debug/netstandard2.0
/Scz/Scz.Bll/obj
/Scz/Scz.WebApi3.1/obj
/Scz/Scz.WebApi3_1/bin/Debug/netcoreapp3.1
/Scz/Scz.WebApi3_1/obj
/Scz/Scz.RabbitMq.Message/bin/Debug/netstandard2.0
/Scz/Scz.RabbitMq.Message/obj
/Scz/Scz.RabbitMq.Subcriber/bin/Debug/netcoreapp3.1
/Scz/Scz.RabbitMq.Subcriber/obj
/Scz/Scz.WcfService/obj/Release
/Scz/Scz.CqrsMediatR/bin/Debug/netcoreapp3.1
/Scz/Scz.CqrsMediatR/obj
