################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Scz/Scz.ConsoleApp
/Scz/Scz.Core/obj
/Scz/Scz.DataStructure
/Scz/Scz.Domain
/Scz/Scz.EntityFrameworkCore
/Scz/Scz.EventBus
/Scz/Scz.Ioc
/Scz/Scz.WebApi
/Scz/Scz.Autofac
/Scz/Scz.Application
/Scz/Scz.Aop
/Scz/Scz.MyConsoleApp
/Scz/Scz.MigrationsDemo
/Scz/Scz.Common
/Scz/Scz.AutoMapper
/Scz/Scz.MyWeb/Scz.AspNetWeb.csproj.user
/Scz/Scz.MyWeb/obj/Debug
/Scz/Scz.MyWeb/bin
/Scz/.vs/Scz
/Scz/Scz.RazorWeb
/Scz/Scz.RabbitMq
/Scz/Scz.Orm
/Scz/Scz.Test
/Scz/Scz.Redis
/Scz/Scz.Web/obj
/Scz/Scz.Web/bin/Debug/netcoreapp2.2
/trunk/Scz/Scz.WebApi
/Scz/Scz.AspNetWeb
/Scz/Scz.MvcWeb
/Scz/Scz.Algorithm/obj
/Scz/Scz.Cache/obj
/Scz/Scz.Config/obj
/Scz/Scz.Database/obj/Debug
*.user
/Scz/Scz.GrpcService/obj/Debug/netcoreapp3.0
/Scz/Scz.UnitTestProject/obj
/Scz/Scz.WcfService/obj/Debug
/Scz/Scz.XUnitTestProject/obj
/Scz/Scz.BlazorApp/obj/Debug/netcoreapp3.0
